*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto_Condensed';
}

.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo{
    font-size: 25px;
    color: black;
    text-decoration: none;
    font-weight: 700;
}

.navbar a{
    font-size: 18px;
    color: black;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    transition: .3s;
}

.navbar a:hover,
.navbar a.active{
    color: brown;
}

.home{
    height: 100vh;
    background: linear-gradient(-90deg, burlywood 75%, whitesmoke 25%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5%;
}

.home-img{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 500px;
    height: 500px;
    background: burlywood;
    border-radius: 50%;
    border: 25px solid whitesmoke;
    outline: 25px solid burlywood;
}

.home-img img{
    position: relative;
    bottom: 25px;
    max-width: 380px;
}

.home-content{
    max-width: 600;
    color: black;
    text-align: right;
}

.home-content h1{
    font-size: 50px;
    line-height: 1;

}

.home-content h3{
    font-size: 40px;
    color: transparent;
    -webkit-text-stroke: .5px black;
    background-image: linear-gradient(brown, brown);
    background-repeat: no-repeat;
    -webkit-background-clip: text;
    background-position: -410px 0;
    animation: animateText 6s linear infinite;
}

@keyframes animateText{
    0%,95%,100%{
        background-position: -410px 0;
    }
    65%,85%{
        background-position: 1px 0;
    }
}

.home-content p{
    font-size: 16px;
    margin-top: 20px;
}

.home-icons{
    margin: 25px 0 40px;
}

.home-icons a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid brown;
    border-radius: 50%;
    font-size: 20px;
    color: brown;
    text-decoration: none;
    margin-left:12px ;
    transition: .5s;
}

.home-icons a:hover{
    background: brown;
    color: black;
    border-color: brown;
    box-shadow: 0 0 10px brown;
}

.button{
    padding: 12px 35px;
    background: transparent;
    border-radius: 50px;
    font-size: 17px;
    color: brown;
    letter-spacing: 1px;
    text-decoration: none;
    font-weight: 600;
    box-shadow: 0 0 10px brown;
    transition: .5s;
}

.button :hover{
    box-shadow: 0 0 10px brown;
}

footer{
    background-color: transparent;
    color: brown;
    text-align: center;
    padding: 20px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

footer p{
    margin: 5px 0;
}










